apache-airflow==2.10.4
clickclick==20.10.2
clickhouse-driver==0.2.9
clickhouse-connect==0.8.13
psycopg2-binary==2.9.10
pymongo==4.10.1
psutil==6.1.1
apache-airflow-providers-postgres==6.0.0
apache-airflow-providers-mongo==5.0.0